.home {
  margin: 101;
  background-color: firebrick;
  color: red;
  display: flex;
  align-items: center;
}
.home {
  display: flex;
  align-items: center;
}
.home {
  display: flex;
  align-items: center;
}
